/* Resetear margenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colores de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #e8b44c;
    color: #000000;
}

header {
    background-color: #e8b44c;
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

header h1 {
    margin-bottom: 0.5em;
    color: #111;
    flex-grow: 1;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #111; /* Cambié a un color más visible */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: #aaa;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
    color: #ffffff; /* Cambié a un color de texto más visible */
}

footer {
    background-color: #e8b44c;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo-footer {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Estilos para los modales */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
}

.modal-content {
    background-color: #1f1f1f;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #333;
    width: 80%; 
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
